@import './sass/base/_pattern.scss';

@import './sass/base/_variables.scss';

@import './sass/layout/_header.scss';

@import './sass/layout/_main.scss';

@import './sass/layout/_footer.scss';

#hamburger {
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: black;
    display: block;
    position: absolute;
    top: 7px;

    &::before {
        content: '';
        width: 30px;
        height: 3px;
        border-radius: 3px;
        background-color: black;
        display: block;
        margin-top: 13px;
    }
}