.button {
    box-shadow: 0px 0px  6px 2px $sombra;
    border-radius: 15px;
    padding: 4px 14px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.4s;

    &:hover {
        background-color: $corVerde;
        color: $corPrimaria;
    }
}