/*Botão Mobile*/
#btn-mobile {
    order: 1;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 15px;
    display: none;
}

#hamburger {
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    background-color: $corVerde;
    border-radius: 3px;
    top: 7px;

    &::before {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: $corVerde;
        border-radius: 3px;
        margin-top: 13px;
    }
}