$fontOpenSans: 'Open Sans', sans-serif;
$fontUbuntu: 'Ubuntu', sans-serif;

$corPrimaria: #FFFFFF;
$corBranco: #F0F0F0;
$corVerde: #0A6666;
$corPreto_1: #2C2C2C;
$corPreto_2: #4A4A4A;

$sombra: #00000033;