footer {
    background-color: $corPrimaria;
    box-shadow: 0px -4px 12px $sombra;
    padding: 10px 0px 20px 0px;

    p {
        border-top: 2px solid $sombra;
        padding-top: 20px;
        text-align: center;
        max-width: 1200px;
        margin: auto;
        font-family: $fontOpenSans;
        text-transform: uppercase;
        color: $corPreto_1;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 600;
    }
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto 10px auto;
}

#footer-AstroFantastico {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .logo {
        border-bottom: 2px solid $sombra;
    }
}

/*Passe Aqui Depois*/
#footer-AstroFantastico a {
    display: inline-flex;
}

#social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;
    margin: 4px auto;


    ion-icon {
        font-size: 26px;
        padding: 5px;
        color: $corVerde;
        border-radius: 12px;
        transition: 0.4s;

        &:hover {
            background-color: $corVerde;
            color: $corPrimaria;
        }
    }
}

#footer-link {
    .button {
        display: block;
        border-radius: 6px;
        padding: 4px 20px;
        box-shadow: 0px 0px  4px 4px $sombra;
        font-weight: 600;

        /*Passe Aqui Tambem*/
        margin: 0px;
    }

    .button:last-child {
        margin-top: 20px;
    }
}