main {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

#recent {
    display: flex;
    padding: 15px;
    background-color: $corPrimaria;
    border-radius: 10px;
    box-shadow: 0px 0px 8px $sombra;

    section {
        padding-left: 15px;
        position: relative;

        h2 {
            margin-bottom: 15px;
            a {
                font-family: $fontUbuntu;
                font-size: 28px;
                color: $corPreto_2;
                transition: 0.4s;

                &:hover {
                    color: $corVerde
                }
            }
        }

        p {
            font-family: $fontOpenSans;
            color: $corPreto_1;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        time {
            font-family: $fontOpenSans;
            color: $corPreto_2;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
            display: block;
        }
    }
}

#post-image {
    max-width: 560px;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
    border-radius: 6px;

    img {
        width: 100%;
        height: auto;
        transition: 0.3s linear;

        &:hover {
            transform: scale(1.1);
        }
    }
}

a.button {
    display: inline-block;
    margin-top: 30px;
}

@import '../components/_button.scss';

#posts {
    padding: 15px;
    background-color: $corPrimaria;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px $sombra;

    section {
        display: flex;
        margin-bottom: 20px;
    }

    a {
        position: relative;
        max-width: 575px;
        width: 100%;
        display: inline-flex;
        overflow: hidden;
        border-radius: 6px;

        img {
            width: 100%;
            height: auto;
            transition: 0.3s linear;
    
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    h3 {
        color: $corPrimaria;
        font-family: $fontUbuntu;
        font-size: 22px;
        background-image: linear-gradient(to top, #000000, #00000000);
        text-shadow: 0px 2px 8px $sombra;
        position: absolute;
        text-align: justify;
        letter-spacing: 0.6px;
        bottom: 0px;
        width: 100%;
        padding: 20px 10px 10px 10px;
    }

    a:first-child {
        margin-right: 20px;
    }
}