/*Main*/
main {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

/*Recente*/
#recent {
    display: flex;
    padding: 15px;
    background-color: $corPrimaria;
    box-shadow: 0px 0px 8px $sombra;
    border-radius: 10px;

    section {
        padding-left: 15px;
        position: relative;

        h2 {
            margin-bottom: 15px;

            a {
                font: 600 28px $fontUbuntu;
                color: $corPreto_2;
                transition: 0.4s;

                &:hover {
                    color: $corVerde
                }
            }
        }

        p {
            font: 400 16px/24px $fontOpenSans;
            color: $corPreto_1;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        time {
            margin-bottom: 10px;
        }

        a.button {
            margin-top: 30px;
        }
    }
}

/*Imagem do Post*/
#post-image {
    max-width: 560px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;

    img {
        height: auto;
        transition: 0.3s linear;

        &:hover {
            transform: scale(1.1);
        }
    }
}
 
/*Categoria*/
@import '../components/_category.scss';

/*Botão*/
@import '../components/_button.scss';

/*Posts*/
#posts {
    padding: 15px;
    margin-top: 20px;
    background-color: $corPrimaria;
    box-shadow: 0px 0px 8px $sombra;
    border-radius: 10px;

    section {
        display: flex;
        margin-bottom: 15px;
    }

    /*Imagem*/
    a {
        max-width: 575px;
        width: 100%;
        border-radius: 6px;
        position: relative;
        overflow: hidden;

        &:first-child {
            margin-right: 20px;
        }

        img {
            height: auto;
            transition: 0.3s linear;
    
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    div {
        background-image: linear-gradient(to top, #000000, #00000000);
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    time {
        padding: 20px 10px 0px 10px;
        font-size: 12px;
        color: $corPrimaria;
        text-shadow: 0px 2px 8px $sombra;
    }

    h3 {
        padding: 10px;
        font-size: 22px;
        color: $corPrimaria;
        letter-spacing: 0.6px;
        text-shadow: 0px 2px 8px $sombra;
        text-align: justify;
    }
}